# Ignoră directorul virtual environment
venv/

# Ignoră fișierele temporare Python
*.pyc
__pycache__/

# Ignoră fișierele de sistem macOS
.DS_Store

# Ignoră fișierele mari sau inutile
*.dylib
*.dat
*.so

# Ignoră baza de date SQLite
*.db

# Ignoră fișierele încărcate de utilizatori
static/uploads/

secret.key
# Ignore TensorFlow/Keras model files
*.h5

# Ignore Haarcascade XML files
*.xml

# Ignore TensorBoard logs
logs/
.haarcascade_frontalface_default.xml
PYTHONPATH=/Users/demeanvlad8/Desktop/licenta_20mai_backup