# Ignoră directorul virtual environment
venv/

# Ignoră fișierele temporare Python
*.pyc
__pycache__/

# Ignoră fișierele de sistem macOS
.DS_Store

# Ignoră fișierele mari sau inutile
*.dylib
*.dat
*.so

# Ignoră baza de date SQLite
*.db

# Ignoră fișierele încărcate de utilizatori
static/uploads/

database

secret.key
# Ignore TensorFlow/Keras model files
*.h5

# Ignore Haarcascade XML files
*.xml

# Ignore TensorBoard logs
logs/
.haarcascade_frontalface_default.xml
PYTHONPATH=/Users/demeanvlad8/Desktop/licenta_20mai_backup

# Ignore large files
venv/lib/python3.11/site-packages/tensorflow/compiler/mlir/stablehlo/stablehlo_extension.so
venv/lib/python3.11/site-packages/clang/native/libclang.dylib
venv/lib/python3.11/site-packages/face_recognition_models/models/shape_predictor_68_face_landmarks.dat