<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="left">
            <video id="video" width="440" height="280" autoplay></video>
            <br>
            <button onclick="capture()">YOU CAPTURE PHOTO FACE</button>
            <br>
            <canvas id="canvas" width="400" height="280" style="display: none;"></canvas>
        </div>
        <div class="right">
            <h3>REGISTER ACCOUNT</h3>
            <label for="name">Your name</label>
            <input type="text" id="nameInput" required name="">
            <br>
            <button onclick="register()">REGISTER</button>
            <button onclick="login()">LOGIN</button>
            <br><br>
            <button onclick="showLoginForm()">LOGHEAZĂ-TE FĂRĂ FAȚĂ</button>
        </div>
    </div>

    <!-- Formular pentru autentificare cu username și parolă -->
    <div id="loginForm" style="display: none;">
        <h3>LOGIN WITH USERNAME AND PASSWORD</h3>
        <label for="username">Username</label>
        <input type="text" id="usernameInput" required>
        <br>
        <label for="password">Password</label>
        <input type="password" id="passwordInput" required>
        <br>
        <button onclick="loginWithCredentials()">LOGIN</button>
        <button onclick="hideLoginForm()">CANCEL</button>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>